body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #282a36;
    margin: 0;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.calculadora {
    background-color: #44475a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

#resultado {
    grid-column: span 4;
    width: 100%;
    padding: 10px;
    font-size: 2em;
    text-align: right;
    border: none;
    border-radius: 5px;
    background-color: #f8f8f2;
    color: #282a36;
    margin-bottom: 10px;
    box-sizing: border-box; 
}

.botoes {
    display: contents; 
}

.btn {
    background-color: #6272a4;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn:hover {
    background-color: #50fa7b;
}

.btn.clear {
    background-color: #ff5555;
    grid-column: span 2; /* Ocupa 2 colunas */
}
.btn.clear:hover {
    background-color: #ff8888;
}

.btn.operacao {
    background-color: #ffb86c;
}
.btn.operacao:hover {
    background-color: #ffcc99;
}

.btn.igual {
    background-color: #8be9fd;
    grid-column: span 2; /* Ocupa 2 colunas */
}
.btn.igual:hover {
    background-color: #bdffff;
}